.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-justify-start {
	justify-content: flex-start;
}

.flex-justify-end {
	justify-content: flex-end;
}

.flex-justify-center {
	justify-content: center;
}

.flex-justify-around {
	justify-content: space-around;
}

.flex-justify-between {
	justify-content: space-between;
}

.flex-align-start {
	align-items: flex-start;
}

.flex-align-center {
	align-items: center;
}

.flex-align-end {
	align-items: flex-end;
}

.tab-top {
	top: 0rpx;
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 80rpx;
}

.tab-padding {
	padding-top: 90rpx;
}

.item-line-padding {
	height: 1px;
	margin: 0 20rpx 0 20rpx;
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
}

.item-line {
	width: 100%;
	height: 1px;
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
}

.list-footer {
	height: 90rpx;
	align-items: center;
	justify-content: center;
}

.nodate-container {
	width: 100%;
	height: 500rpx;
	display: flex;
	align-items: center;
	justify-content: center;
}

.border-box {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.font-bold {
	font-weight: bold;
}

.stock-left {
	margin-left: 30rpx;
}

.page-mask {
	z-index: 999;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.page-auth {
	z-index: 998;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.tabbarunit {
	height: 100rpx;
}
