.O_B1 {
	background-color: #ffffff;
}

.O_B0 {
	background-color: #ff0000;
}

.O_B2 {
	background-color: #f8f8f8;
}

.O_B3 {
	background-color: #fbfbfb;
}

.O_B4 {
	background-color: #a0a0a0;
}

.O_B5 {
	background-color: #fff8f8;
}

.O_B6 {
	background-color: #f6fff6;
}

.O_B7 {
	background-color: #eb333b;
}

.O_B8 {
	background-color: #fbd6d8;
}

.O_C1 {
	color: #000000;
}

.O_C2 {
	color: #333333;
}

.O_C3 {
	color: #666666;
}

.O_C4 {
	color: #a0a0a0;
}

.O_C5 {
	color: #eb333b;
}

.O_C6 {
	color: #17b03e;
}

.O_C7 {
	color: #eb333b;
}

.O_C8 {
	color: #ffffff;
}

.O_C9 {
	color: #555555;
}

.O_C10 {
	color: #0079ff;
}

.O_L0 {
	background-color: #f5f5f5;
}

.O_L1 {
	background-color: #e5e5e5;
}

.O_L2 {
	background-color: #dadada;
}

.B1 {
	background-color: #ffffff;
}

.B2 {
	background-color: #efeff4;
}

.B3 {
	background-color: #ffffff;
}

.B4 {
	background-color: #e6e6e6;
}

.B5 {
	background-color: #dddddd;
}

.B6 {
	background-color: #f7f8fa;
}

.C1 {
	color: #eb333b;
}

.C2 {
	color: #fbd6d8;
}

.C3 {
	color: #17b03e;
}

.C4 {
	color: #d1efd8;
}

.C5 {
	color: #0079ff;
}

.C6 {
	color: #bfddff;
}

.L1 {
	background-color: #ffffff;
}

.L2 {
	background-color: #dddddd;
}

.L3 {
	background-color: #b4b4b4;
}

.L4 {
	background-color: #646464;
}

.T1 {
	color: #333333;
}

.T2 {
	color: #646464;
}

.T3 {
	color: #8c8c8c;
}

.T4 {
	color: #a0a0a0;
}

.T5 {
	color: #ffffff;
}

.B_C1 {
	background-color: #eb333b;
}

.B_C2 {
	background-color: #fbd6d8;
}

.B_C3 {
	background-color: #17b03e;
}

.B_C4 {
	background-color: #d1efd8;
}

.B_C5 {
	background-color: #0079ff;
}

.B_C6 {
	background-color: #bfddff;
}