.F1 {
  font-size: 60rpx;
}
.F1_1{
	font-size: 44rpx;
}
.F2 {
  font-size: 42rpx;
}

.F2_5 {
  font-size: 38rpx;
}

.F2_6 {
  font-size: 36rpx;
}

.F3 {
  font-size: 34rpx;
}

.F4 {
  font-size: 32rpx;
}

.F5 {
  font-size: 30rpx;
}

.F6 {
  font-size: 28rpx;
}

.F7 {
  font-size: 26rpx;
}

.F8 {
  font-size: 24rpx;
}

.F9 {
  font-size: 22rpx;
}

.F10 {
  font-size: 20rpx;
}

.S1{
	font-size: 18rpx;
}
.S2{
	font-size: 20rpx;
}
.S3{
	font-size: 22rpx;
}
.S4{
	font-size: 24rpx;
}
.S5{
	font-size: 26rpx;
}
.S6{
	font-size: 28rpx;
}
.S7{
	font-size: 30rpx;
}
.S8{
	font-size: 32rpx;
}
.S9{
	font-size: 34rpx;
}
.S10{
	font-size: 36rpx;
}
.S11{
	font-size: 40rpx;
}
.S12{
	font-size: 44rpx;
}
.S13{
	font-size: 60rpx;
}
.S14{
	font-size: 70rpx;
}
.S15{
	font-size: 84rpx;
}
